{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/ram.css'%}"type="text/css">
</head>
<body>
    <a href="{% url 'home' %}"><button>home</button></a>
    <a href="{% url 'mark'%}"><button>mark</button></a>
    <a href="{% url 'mass' %}"><button>mass</button></a>
    <a href="{% url 'music'%}"><button>music</button></a>
    <a href="{% url 'rock' %}"><button>rock</button></a>
    <a href="{% url 'contact' %}"><button>contact</button></a>
    <a href="{% url 'index' %}"><button>index</button></a>
    <a href="{% url 'about' %}"><button>about</button></a>
    <p>
    <a href="{% url 'hello' %}"><button>hello</button></a>
    <a href="{% url 'images' %}"><button>images</button></a>
    <a href="{% url 'REELS' %}"><BUtton>REELS</BUtton></a></p>

    <h4>who are you</h4>
    <table border="2">
        <tr>
            <td>Lorem, ipsum dolor.</td>
            <td>Quaerat, quam debitis.</td>
            <td>Illo, voluptatum expedita.</td>
            <td>Possimus, quasi recusandae!</td>
            <td>Iste, molestiae exercitationem.</td>
            <td>Deleniti, quisquam saepe.</td>
            <td>Voluptates, fuga in!</td>
            <td>Repudiandae, minus sed?</td>
            <td>Quaerat, nesciunt quas?</td>
        </tr>
        <tr>
            <td>Lorem, ipsum dolor.</td>
            <td>Quis, quas ad?</td>
            <td>Nulla, tempora possimus.</td>
            <td>Deleniti, atque perspiciatis?</td>
            <td>Modi, in consequuntur!</td>
            <td>Reprehenderit, praesentium nisi!</td>
            <td>Accusantium, animi pariatur.</td>
            <td>Inventore, nostrum nobis!</td>
            <td>Possimus, fugit vitae!</td>
        </tr>
        <tr>
            <td>Lorem, ipsum dolor.</td>
            <td>Quasi, numquam tenetur?</td>
            <td>Autem, dicta natus!</td>
            <td>Soluta, ullam numquam?</td>
            <td>Accusantium, atque? Dicta?</td>
            <td>Exercitationem, repellendus labore!</td>
            <td>Molestias, doloremque tempora.</td>
            <td>Delectus, amet sit.</td>
            <td>Fugit, dignissimos quasi.</td>
        </tr>
        <tr>
            <td>Lorem, ipsum dolor.</td>
            <td>Quasi, ratione dolorem.</td>
            <td>Harum, ab voluptatem.</td>
            <td>Quas, dicta nam.</td>
            <td>Ducimus, minima sapiente!</td>
            <td>Praesentium, corporis dolores?</td>
            <td>Corrupti, officia voluptate.</td>
            <td>Repudiandae, itaque quia!</td>
            <td>Perferendis, alias blanditiis!</td>
        </tr>
    </table>
</body>
</html>