{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/ramya.css'%}" type="text/css">
</head>
<body>
    <a href="{% url 'home' %}"><button>home</button></a>
    <a href="{% url 'mark' %}"><button>mark</button></a>
    <a href="{% url 'mass' %}"><button>mass</button></a>
    <a href="{% url 'music'%}"><button>music</button></a>
    <a href="{% url 'rock' %}"><button>rock</button></a>
    <a href="{% url 'contact' %}"><button>contact</button></a>
    <a href="{% url 'index' %}"><button>index</button></a>
    <a href="{% url 'about' %}"><button>about</button></a>

    <h4>total control by me</h4>
    <table border="3">
        <tr>
            <td>Lorem.</td>
            <td>Ratione?</td>
            <td>Ullam.</td>
            <td>Ratione!</td>
            <td>Laborum?</td>
            <td>Debitis.</td>
            <td>Laudantium.</td>
        </tr>
        <tr>
            <td>Lorem.</td>
            <td>Deserunt!</td>
            <td>Voluptates?</td>
            <td>Excepturi?</td>
            <td>At.</td>
            <td>Quibusdam.</td>
            <td>Recusandae!</td>
        </tr>
        <tr>
            <td>Lorem.</td>
            <td>Suscipit.</td>
            <td>Minima!</td>
            <td>Ab!</td>
            <td>Dicta.</td>
            <td>Quos?</td>
            <td>Aperiam!</td>
        </tr>
        <tr>
            <td>Lorem.</td>
            <td>Voluptatum.</td>
            <td>Tempora.</td>
            <td>Beatae!</td>
            <td>Vitae?</td>
            <td>Vitae?</td>
            <td>Necessitatibus!</td>
        </tr>
        <tr>
            <td>Lorem.</td>
            <td>Maxime.</td>
            <td>Non.</td>
            <td>Voluptate!</td>
            <td>Quos.</td>
            <td>Magnam.</td>
            <td>Sapiente.</td>
        </tr>
        <tr>
            <td>Lorem.</td>
            <td>Sunt.</td>
            <td>Tempora!</td>
            <td>Exercitationem!</td>
            <td>Voluptatum.</td>
            <td>Pariatur!</td>
            <td>Ducimus.</td>
        </tr>
    </table>
</body>
</html>