{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/ramesh.css'%}" type="text/css">
</head>
<body>
    <a href="{% url 'home' %}"><button>home</button></a>
    <a href="{% url 'mark' %}"><button>mark</button></a>
    <a href="{% url 'mass' %}"><button>mass</button></a>
    <a href="{% url 'music'%}"><button>music</button></a>
    <a href="{% url 'rock' %}"><button>rock</button></a>
    <a href="{% url 'contact' %}"><button>contact</button></a>
    <a href="{% url 'index' %}"><button>index</button></a>
    <a href="{% url 'about' %}"><button>about</button></a>
    <p>
        <a href="{% url 'lak' %}"><button>lak</button></a>
        <a href="{% url 'laks' %}"><button>laks</button></a>
        <a href="{% url 'laked' %}"><button>laked</button></a>
    </p>
</body>
</html>