<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
</head>
<body>
    <a href="{% url 'home' %}"><button>home</button></a>
    <a href="{% url 'mark' %}"><button>mark</button></a>
    <a href="{% url 'mass' %}"><button>mass</button></a>
    <a href="{% url 'music'%}"><button>music</button></a>
    <a href="{% url 'rock' %}"><button>rock</button></a>
    <a href="{% url 'contact' %}"><button>contact</button></a>
    <a href="{% url 'index' %}"><button>index</button></a>
    <a href="{% url 'about' %}"><button>about</button></a>
    <p>
        <a href="{% url 'nag' %}"><button>nag</button></a>
        <a href="{% url 'nagu' %}"><button>nagu</button></a>
        <a href="{% url 'nagaraju' %}"><button>nagaraju</button></a>
    </p>
        <h3>hii</h3>
        <h5>welcome</h5>
        <table border="1">
        <tr>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis asperiores repudiandae cumque dolorem quae est aperiam, suscipit modi unde et quaerat neque veritatis, fugit inventore dolores laudantium aliquid! Ea, eveniet!</td>
            <td>Debitis magnam nemo quos quidem expedita quis aspernatur aliquid quam odit laudantium nisi, temporibus ullam velit saepe iure et veniam reiciendis dolor necessitatibus maiores voluptatem ut obcaecati similique! Quo, exercitationem!</td>
            <td>Vero quam mollitia perferendis itaque magni, ullam autem fugit qui molestiae in deleniti ab. Ea quam velit fugiat repellendus consequuntur facilis ipsum, porro ipsam optio non in ullam pariatur fugit.</td>
            <td>Quae maxime veritatis sint officia temporibus velit id quis quisquam dolore libero, praesentium aut non mollitia deserunt, accusantium omnis rerum voluptate magni sunt voluptas, fugiat provident pariatur itaque quam. Nam.</td>
            <td>Rem et reiciendis illo nesciunt eveniet laudantium commodi voluptates tempore quibusdam saepe amet perferendis eligendi quam, ipsa, tempora perspiciatis corporis ipsum cumque doloremque reprehenderit eum quae. Tempora autem aperiam blanditiis.</td>
        </tr>
        <tr>
            <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At eum id maxime quibusdam molestias accusantium atque veritatis sunt libero nihil modi consectetur voluptate commodi, eveniet quae nemo nobis tempora porro?</td>
            <td>Aspernatur libero placeat, dolorum accusantium aliquid totam beatae illum, delectus corrupti ad saepe! Modi dicta odit veniam dolorum repellendus aliquid numquam beatae doloribus, incidunt cum explicabo exercitationem accusamus officiis eius.</td>
            <td>Veniam, illo libero! Ex libero porro corporis non animi, similique iure cum eligendi quisquam, nulla itaque qui ratione alias reiciendis dolorem voluptatem rem earum atque fugiat eius doloremque. Tenetur, repudiandae!</td>
            <td>Ratione reprehenderit minima ab labore. Nulla provident ab dolorum inventore et dolores aliquid alias dignissimos repellat esse! Iste eveniet magni rem voluptas, nostrum corporis saepe facere esse ut quas consequuntur!</td>
            <td>Hic molestiae inventore nihil eius dolores necessitatibus mollitia voluptate architecto quia. Itaque dolorum molestias iste similique sapiente reiciendis et impedit deserunt quibusdam reprehenderit quidem, doloremque excepturi dolores eaque ipsam at?</td>
        </tr>
        <tr>
            <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi iusto reiciendis consequuntur dolorem. Fuga harum delectus reiciendis corporis soluta rerum minima ducimus, possimus ab quam aperiam quibusdam dolorum quod accusamus!</td>
            <td>Sapiente illo eos perferendis nemo esse accusantium quia dolor ipsam ex omnis obcaecati maiores repellendus sequi necessitatibus, magnam vero nisi cumque, cupiditate vitae. Sit consequuntur magni quis harum porro voluptatem.</td>
            <td>Veritatis quasi, molestias id tenetur quidem unde nesciunt, sit expedita reprehenderit perspiciatis neque consequuntur? Obcaecati est quibusdam numquam iste aperiam nisi reprehenderit nihil? Reiciendis inventore, quod harum fugiat numquam doloribus.</td>
            <td>Ipsum deleniti architecto esse temporibus alias praesentium deserunt a animi dicta. Harum hic sunt omnis veniam blanditiis asperiores quidem maiores commodi, repudiandae, aut quibusdam esse aliquid velit at adipisci laborum.</td>
            <td>Natus facere inventore hic similique vero! Fugiat doloremque officia consectetur illo, id cupiditate tenetur ratione voluptas totam reprehenderit distinctio obcaecati dolorem unde, harum, repellendus tempora? Aperiam voluptas at exercitationem sed.</td>
        </tr>
    </table>
</body>
</html>